In [3]:
import pandas as pd

In [6]:
df = pd.read_parquet('results.parquet')

In [7]:
df

     hours       n    p          conf  max_k
0      0.5   150.0  0.1  1.000000e-03    4.0
1      0.5   150.0  0.1  1.000000e-06    0.0
2      0.5   150.0  0.1  1.000000e-09    NaN
3      0.5   150.0  0.1  1.000000e-12    NaN
4      0.5   150.0  0.1  1.000000e-24    NaN
..     ...     ...  ...           ...    ...
400   32.0  9600.0  0.9  1.000000e-03  999.0
401   32.0  9600.0  0.9  1.000000e-06  999.0
402   32.0  9600.0  0.9  1.000000e-09  999.0
403   32.0  9600.0  0.9  1.000000e-12  999.0
404   32.0  9600.0  0.9  1.000000e-24  999.0

[405 rows x 5 columns]

In [11]:
df[(df.hours == 0.5) & (df.p == 0.1)]

   hours      n    p          conf  max_k
0    0.5  150.0  0.1  1.000000e-03    4.0
1    0.5  150.0  0.1  1.000000e-06    0.0
2    0.5  150.0  0.1  1.000000e-09    NaN
3    0.5  150.0  0.1  1.000000e-12    NaN
4    0.5  150.0  0.1  1.000000e-24    NaN